ul.acf-checkbox-list li input[type=checkbox]:checked {
    background-image: unset !important;
	background-color: #FFF !important;
    border: 1px solid #8c8f94 !important;
    border-radius: 4px !important;
}